:root {
  --color-background: #ffffff;
  --color-background-hover: #dedede;
  --color-fg: #1c1c1c;
  --color-fg-hover: #3d3d3d;
  --color-inactive: rgba(#1c1c1c, 0.4);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  height: 100vh;
  color: var(--color-fg);
  background: var(--color-background);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
